{% extends 'base.html.twig' %}

{% block title %}NewsLetter{% endblock %}

{% block body %}
    <h1 class="my-4">NewsLetter</h1>

    <table class="table my-4">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news_letter.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ news_letter.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ news_letter.body }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_newsletter_index') }}">back to list</a>

    <a href="{{ path('admin_newsletter_edit', {'id': news_letter.id}) }}">edit</a>

    {{ include('news_letter/_delete_form.html.twig') }}
{% endblock %}
