{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sélection de Parfums Homme</h1>

    <div class="row justify-content-around">
    {% for man in mens %}

    <div  class="card panier my-2" style="width: 18rem;">
            <img src="{{man.image}}" class="card-img-top panier" alt="...">
            <div class="card-body">
              <h5 class="card-title panierName">{{man.brand}} - {{ man.name }}</h5>
              <p class="card-text panier">{{man.price}}</p>
              <a href="{{path('show_parfum',{id : man.id })}}" class="btn btn-primary panier">Ajouter au panier</a>
            </div>
          </div>

    {% endfor %}
  </div>



{% endblock  %}